*{
	box-sizing: border-box;
font-family: 'Oxygen', sans-serif;


}

html{
	margin: 0px;
	padding:0px;
}

h4{
	font-size: 20px;
	font-weight: 800;
	    margin-top: 30px;

    margin-bottom: 12px;

}
.explain{
	font-size: 16px !important; 
	padding-bottom: 10px !important;
}

h5{
	font-size:16px;
	padding-bottom: 2px;
}

body{
	margin: 0px;
}


img:hover{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */

}
.center{
	display: flex;
	justify-content: center;
	padding-left: 20px;

}

.small-title{
	margin-top: 8px;
	padding-top: 8px;
	margin-bottom: 4px;
	color: black;
	font-weight: 800;
}

.big-title{
	font-size: 16px;
     color:grey;
     font-weight: 200;
    line-height: 2;

    		text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 16px;
	text-align: center;
}


.name{
	font-size: 56px;
    text-align: center;
   font-weight: 600;
   line-height: 1.07143;
   letter-spacing: -0.05em;
	padding-top: 40px;
	padding-bottom:10px;
	font-family: Arial;
}

.intro{
	display: flex;
	justify-content: center;
    font-size: 21px;
	font-weight: 300;
	padding-right:25% ;
	padding-left:25% ;
	line-height: 1.6;
	letter-spacing: 0.011em;
}

.connection{
	display: flex;
	justify-content: center;
	padding-bottom: 40px;

}
li a{
	text-decoration: none;
	color: #2997ff;

}

li a:hover{
	color: #2997ff;
	text-decoration: underline;
}

ul{
	display: flex;
	list-style: none;
	justify-content: center;
	padding-left: 0px;
	font-size: 14px;
	line-height: 1.318;
	font-weight: 600;
	letter-spacing: -0.022em;

}
li{
	padding-left: 40px;
}


.black-content{    
	background-color: black;
	color: white;

}

.content-item{
	padding-left: 25%;
    padding-right: 25%;
    padding-top: 60px;
	padding-bottom: 80px;

}

.main-title{
	font-size: 48px;
	text-align: center;
	padding-bottom: 20px;
		text-transform: uppercase;

}

.main-para{
	font-size: 21px;
	text-align: center;
		line-height: 1.7;
       font-weight: 100;
	letter-spacing: 0.011em;
		padding-bottom: 40px;

}

.picture-content{
	background-color: #393939;
	padding-left: 25%;
	padding-right: 25%;

}

img{
	padding-top: 40px;
	padding-bottom: 40px;
	width:500px;
}

.picture-content img{
	padding-top: 80px;
	padding-bottom: 80px;
	display:flex;
	padding-right:10%;
	padding-left:10%;
	justify-content: center;
    width: 700px;

}


.white-content{
padding-left: 25%;
    padding-right: 25%;
    padding-top: 40px;
	padding-bottom: 40px;

}

.sub-title{
	text-transform: uppercase;
	font-size: 36px;
			font-family: Arial, sans-serif;
			padding-top: 20px;
			font-size: 42px;
			padding-bottom: 20px;

}

.white-content p{
	font-size: 21px;
	line-height: 1.7;
	letter-spacing: 0.011em;
	font-weight: 300;
	padding-bottom: 20px;

}



.grey-content{
	padding-left: 25%;
    padding-right: 25%;
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 60px;
}

section p{
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

.grey-content p{
   font-size: 21px;
	line-height: 1.7;
	letter-spacing: 0.011em;
	padding-bottom: 20px;
	font-weight: 300;
}

.grid-img{
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}

.grid-img-item img{
/*	width:120px;
*/
}

.white-content p.mark{
	padding-top: 20px;
	font-size: 28px;
	line-height: 1.5;
	font-weight: 900;
	letter-spacing: 0.007;
	text-align: center;
	color: #ef5602;
		padding-bottom: 20px;

}

p span.core{
	font-size: 16px;
     color:grey;
     font-weight: 200;
    line-height: 2;
    text-transform: uppercase;

}

.grey-content p.mark{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 28px;
	line-height: 1.5;
	font-weight: 900;
	letter-spacing: 0.007;
	text-align: center;
	color: #ef5602;
}

.grid-img-item p{
	font-size: 16px;

}

.question{
	padding-top: 20px;
	font-size: 17px;
	line-height: 1.8;
	font-weight: 200;
	letter-spacing: -0.022em;

}
